<div class="grid-container">
  <h1 class="cell page-title">Select a Continent</h1>
  <div class="grid-x grid-margin-x equal-height-cards">
    <% @continents.each do |continent| %>
      <div class="cell small-12 medium-6 large-4">
        <div class="card">
          <div class="card-section">
            <div class="card-picture">
              <img src=<%= continent.picture%> alt="map of the world with <%= continent.name %> shown in red"/>
            </div>
          </div>
          <div class="card-section">
            <h3><%= link_to continent.name, continent_path(continent) %><h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>