@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

// .color-palette{
//   dark-blue: #1A385A;
//   light-blue: #769ABE;
//   bright-orange: #E46F44;
//   light-pink:#E8AA9B;
//   gray-purple: #DCD5DC;
// }

// Overall Formatting
h1 {
  font-family: 'Oswald','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

h2,h3,h4,h5,h6,p {
  font-family: 'Oswald','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-body{
  margin: 1em;
  flex-grow: 1;
}

.page-title{
  text-align: center;
}

// Header
.page-header {
  flex-grow: 0;
  flex-shrink: 0;
}

.top-bar {
  background-color: #1A385A;
}

.top-bar>ul {
  background-color: #1A385A;
}

.navbar-title{
  font-family: 'Notable';
  letter-spacing: 0.1em;
  font-weight: 900;
  font-size: 1.25em;
  background-color: #1A385A;
  color: #FFFFFF;
  padding-bottom: 0.7rem;

  &:hover{
    color: #FFD5c2;
  }
}

.navbar-link {
  font-family: 'Oswald','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  display: inline-flex;
  background-color: #1A385A;
  color: #FFFFFF;

  &:hover {
    color: #FFD5c2;
  }
}

// Footer
.page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.footer {
  background-color: #1A385A;
  color: #FFFFFF;
  height: auto;
  margin: 0em;
  padding: 1em;
}

.footer-menu {
  display: block;
  text-align: center;
}

.footer-link {
  text-align: center;
  font-family: 'Oswald', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  background-color: #1A385A;
  color: #FFFFFF;
  list-style: none;

  &:hover {
    color: #FFD5c2;
  }
}

.footer-link>a {
  text-align: center;
  font-family: 'Oswald', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  background-color: #1A385A;
  color: #FFFFFF;

  &:hover {
    color: #FFD5c2;
  }
}

// Cards
.equal-height-cards {
  .cell {
    display: flex;
    align-items: stretch;
  }
}

.card {
  background-color: #E8AA9B;
  display: flex;
  align-items: stretch;

  &:hover {
    background-color: #769ABE;
    .card-divider {
      background-color: #1A385A;
      color: #FFFFFF;
    }
  }

  .card-divider {
    display: block;
    background-color: #E46F44;
    text-align: center;
    margin-bottom: 0em;
  }

  .itinerary-description {
    font-style: italic;
    text-align: center;
  }
}

.card-section {
  text-align: center;
  display: flex;
  align-items: stretch;
}

// Buttons
.destination-button{
  display: block;
  background-color: #769ABE;
  font-family: 'Oswald', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000000;

  &:hover {
    background-color: #FFD5c2;
    color: #000000;
  }
}

.devise-button {
  font-size: 100%;
  background-color: #769ABE;
  color: #000000;

  &:hover {
    background-color: #FFD5c2;
    color: #000000;
  }
}

// Links
a.card-links {
  display: inline-block;
  text-align: center;
  color: #000000;
  &:hover {
    color: #FFFFFF;
  }
}

// Forms
.devise-form-container {
  font-family: 'Oswald','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.devise-form-field {
  font-size: 125%;
  font-weight: 350;
}

.devise-checkbox {
  height: 1em;
  width: 1em;
}

[type='checkbox'] {
  height: 1.1em;
  width: 1.1em;
}

// About Me Page
.headshot {
  width: 100%;
  margin-bottom: 1em;
  display: block;
}

.about-me-text {
  margin-bottom: 1.5em;
}

.about-me-button {
  width: 100%;
  margin-right: 1em;
  display: block;
  color: #000000;
  background-color: #E8AA9B;

  &:hover {
    background-color: #E46F44;
    color: #000000;
  }
}

.about-me-link {
  color: #000000;

  &:hover {
    color: #000000;
  }
}

.small-text-center {
  text-align: center;
}

.holder {
  color: #FFFFFF;
}

// Continents Index Page
.continent-card {
  background-color: #E8AA9B;
  display: flex;
  align-items: stretch;

  .card-divider {
    display: block;
    background-color: #E46F44;
    text-align: center;
    margin-bottom: 0em;
  }
  
  &:hover {
    background-color: #769ABE;
    .card-divider {
      background-color: #1A385A;
      color: #FFFFFF;

      .continent-link {
        color: #FFFFFF;
      }
    }
  }
  
}

.continent-link {
  color: #000000;
}

// Continent Show Page

.country-card {
  background-color: #E8AA9B;
  display: flex;
  align-items: stretch;

  .country-link {
    color: #000000;
  }
  
  &:hover {
    background-color: #769ABE;
  }
}